[submodule "ext/gtest"]
	path = ext/gtest
	url = http://git.chromium.org/external/googletest.git
[submodule "ext/gmock"]
	path = ext/gmock
	url = https://chromium.googlesource.com/external/googlemock
[submodule "ext/glfw"]
	path = ext/glfw
	url = git@github.com:glfw/glfw.git
